@{
    ViewData["Title"] = "Text Statistic";
}

<div>
    <h3>Text count: @(ViewData["textCount"])</h3>
    <h3>count high Rank: @(ViewData["hightRankCount"])</h3>
    <h3>avarage rank: @(ViewData["avgRank"])</h3>
</div>